.sidebar {

  min-height: 100vh;
  overflow: hidden;
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.sidebar a {

  text-decoration: none;
  color: white;
  font-weight: 600;
  display: block !important;
  cursor: pointer;

}


.sidebar a:hover {

  color: yellow;
  transform: scale(1.02);

}

.active {
  color: yellow;
  transform: scale(1.02);
}
